@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
	box-sizing:border-box;
	scroll-behavior: smooth;
 }
	header{ background-color:#E6B0AA;
	width:100%;
	position:fixed;
	z-index:999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px 200px;
		
	}
	.logo{
		font-family:Papyrus;
		text-decoration:none;
		color:#ABEBC6  ;
		text-transform: uppercase;
		font-weight:700;
		font-size;1.8em;
		
	}
	.navigation a { color:#F9E79F;
	text-decoration:none;
	font-size:1.1em;
	font-weight:500;
	padding-left:30px;
		
	}
	.navigation a:hover{
		color:#E5E8E8;
	}
section{
	padding:100px 200px ;
	
}
.main{
	width:100%;
	min-height:100vh;
	display:flex;
	align-items:center;
	background: url(zz.JPG)no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}
.main h2{ color:#D7DBDD ;
font-size:3em;
font-weight:600;

}
.main h3{color:#FDFEFE  ;
font-size:2em;
font-weight:500;
letter-spacing:1px;
margin-top:10px;

}
.main1{
	background: url(88.JPG)no-repeat;
}
.main1 h2{ color:#81bccc ;
font-size:3em;
font-weight:600;
font-family: lucida handwriting;

}
.main1 h3{  ;
font-size:2em;
font-weight:500;
letter-spacing:1px;
margin-top:10px;
font-family:monaco;


}
.main-btn{
	color:#FBFCFC  ;
	background-color:#ABEBC6  ;
	text-decoration:none;
	display:inline-block;
	font-size:1.1em;
	font-weight:600;
	padding:0.9375em 2.1875em;
	letter-spacing:1px;
	border-radius:15px;
	margin-bottom:40px;
	transition:0.7s ease;
}
.main-btn:hover{
	background-color:#82E0AA;
	transform:scale(1.1);
}
footer{
	background-color:#E6B0AA;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding:2em;
}
.safia{
	width:100%;
	min-height:10vh;
	display:flex;
	align-items:center;
	background: url(zz.JPG)no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}
.safia1{	width:100%;
	min-height:10vh;
	display:flex;
	align-items:center;
	background: url(zz.JPG)no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	
}
.title{ display:flex;
justify-content: center;
color:#BB8FCE ;
font-size:2.2em;
font-weight:800;
margin-bottom:30px;

}
.content{display:flex;
justify-content: center;
flex-direction:row;
flex-wrap:wrap;
}

.cards{background-color:#F8F9F9 ;
}
.card{ background-color:#F8F9F9;
width:15.25em;
box-shadow:0 5px 25px rgba(1 1 1/15%);
border-radius:10px;
padding:25px;
margin:15px;
transition:0.7s ease;
}
.card:hover{transform:scale(1.1);
}
.form1{position:absolute;
top:5%;
left:50%;
transform:translate(-50%,50%);
width:450px;
height:420px;
background:rgba(0,0,0,.5);
border-radius:20px;
box-sizing:border-box;
	
}
.kk{ 
text-align:center;
margin-top:90px;	
}
input[type="text"],[type="password"]{
	position:absolute;
	outline:none;
	border:none;
	width:250px;
	height:35px;
	border-bottom:2px solid #F9E79F;
	background:none;
	padding:5px;
	color:#F9E79F;
	
}
input[type="text"]{
	top:140px;
	left:50px;
}
input[type="password"]{
	top:210px;
	left:50px;
}
input[value="login"]{
	position:absolute;
	top:305px;
	left:110px;
	width:130px;
	height:35px;
	background:#F7DC6F;
	border:none;
	outline:none;
	color:#FEF9E7;
	border-radius:15px;
	font-size:20px;
	transition:0.7s ease;
}
input[value="login"]:hover{
transform:scale(1.1);
}

.mm{ position:absolute;
top:360px;
left:50px;
color:#F9E79F;
cursor:pointer;
transition:0.7s ease;
	
}
.mm:hover{	color:#F7DC6F;
	transform:scale(1.1);
}

.example{
	 box-sizing: border-box;
	  width: 100%;
	  min-height: 10vh; 
	  padding: 5%; 
	  display: flex; 
	  align-items: center; 
	  justify-content: center; 
	 
	  
}
.example input[type=search-text] {

 background: transparent;
 flex: 1; 
 border: 0; 
 outline: none;
  padding: 24px 20px;
  font-size: 20px; 
  color:#D2B4DE ; 
  background:rgba(0,0,0,.05);
border-radius:50px;
  }
  

.example button {
 
  padding: 10px;
  margin:1px;
  background:#D2B4DE ;
  color: white;
  font-size: 17px; 
  cursor: pointer;
   border: 0; 
   border-radius: 50%; 
   width: 60px;
   height: 60px;
   transition:0.7s ease;
  
   }

.example button:hover {
  background:#BB8FCE  ;
  transform:scale(1.1);
}

.example:after {
  content: "";
  clear: both;
  display: table;
}